html {
  
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, Helvetica, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, Meiryo, sans-serif;
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  font-size: 13px;
  color: #333;
}
